@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>hadsuadsbhadshbjdsbhjadssd</p>
    <p>s6643123</p>
    <h1>Helllo how are u today im a lab rat</h1>
    <h2>SHHSHS</h2>
</div>
