.container {
    padding: 4rem 3rem 2rem 3rem;
    max-width: 1400px;
    margin: 0 auto;
}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 3rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 55vh;
    border-radius: 0.75rem;
    scrollbar-width: none;
}

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: 0 0 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        scroll-snap-align: start;
    }

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

    .slider-nav a {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.6;
        transition: 0.3s;
    }

        .slider-nav a:hover,
        .slider-nav a.active {
            opacity: 1;
            background-color: #d4af37;
        }

.welcome-section {
    background: #fef8ef;
    padding: 4rem 2rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Georgia', serif;
    color: #5d3f1f;
}

.hero-text p {
    font-size: 1.1rem;
    max-width: 750px;
    margin: 0 auto;
    color: #555;
}

.brand-name {
    color: #6b8e23;
    font-weight: bold;
}

.button,
.button.small,
.reserve-button {
    background: linear-gradient(135deg, #f3e5ab, #d6a75c);
    color: #3d2f1b;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: auto;
    width: 100%;
    max-width: 280px;
    align-self: center;
    display: block;
    margin: 1rem auto;
    text-align: center;
}

    .button:hover,
    .reserve-button:hover {
        background: linear-gradient(135deg, #d6a75c, #f3e5ab);
        transform: translateY(-1px);
    }


.card-section {
    margin-bottom: 3rem;
    background-color: #fffaf0;
    padding: 2rem;
    border-radius: 1rem;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: transform 0.3s ease;
    align-items: center;
}

    .dashboard-card:hover {
        transform: translateY(-5px);
    }

    .dashboard-card .icon {
        font-size: 2.5rem;
        color: #aa8453;
        margin-bottom: 1rem;
    }

    .dashboard-card h3 {
        color: #333;
        margin-bottom: 0.5rem;
    }

    .dashboard-card p {
        color: #666;
        margin-bottom: 1rem;
    }

.menu-cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

.card {
    width: 280px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: transform 0.3s ease;
    align-items: center;
    text-align: center;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .card h3 {
        margin: 1rem;
        color: #333;
    }

    .card p {
        margin: 0 1rem 1rem 1rem;
        font-size: 1.15rem;
        color: #666;
    }

.testimonial-banner {
    background-color: #f0e9dd;
    padding: 3rem 2rem;
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 0 3px 8px rgba(0,0,0,0.04);
}


.menu-cards.report-style {
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

.menu-cards.report-style .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px; 
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.menu-cards.report-style .card .button {
    margin: 1rem auto 0 auto;
    display: block;
}

.menu-cards.report-style > .button {
    grid-column: span 3;
    justify-self: center;
    margin-top: 1rem;
}

.menu-cards.report-style canvas {
    font-size: 0.45rem !important;
    max-height: 120px;
    margin: 0 auto;
}

@media (min-width: 1601px) {
    .menu-cards.report-style {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-cards.report-style .card h3 {
        font-size: 2rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.8rem;
    }
}

@media (min-width: 1300px) and (max-width: 1600px) {
    .menu-cards.report-style {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-cards.report-style .card h3 {
        font-size: 1.5rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.7rem;
    }
}

@media (min-width: 1201px) and (max-width: 1299px) {
    .menu-cards.report-style {
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        grid-template-columns: repeat(1, 1fr);
    }
    .menu-cards.report-style .card h3 {
        font-size: 1.5rem;
    }
    .menu-cards.report-style .card p {
        font-size: 1.1rem;
    }
}

@media (min-width: 901px) and (max-width: 1200px)  {
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    .menu-cards.report-style .card p {
        font-size: 1rem;
    }
    main {
        padding-top: 30px;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
    }
    .menu-cards.report-style .card h3 {
        font-size: 1.2rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.9rem;
    }
    main {
        padding-top: 30px;
    }
}

@media (max-width: 699px) {
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.85rem;
    }
    .card p {
        display: block;
        width: 100%;
    }
    main {
        padding-top: 30px;
    }
}

@media (max-width: 576px) {
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.8rem;
    }
    .card p {
        display: block;
        width: 100%;
    }
    main {
        padding-top: 30px;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style  .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
    }
    .menu-cards.report-style .card p {
        font-size: 0.7rem;
    }
    .card p {
        display: block;
        width: 100%;
    }
    main {
        padding-top: 30px;
    }
}

@media (min-width: 300px) and (max-width: 399px) {
    body {
        font-size: 0.7rem;
    }
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-text h1 {
        font-size: 1.2rem;
    }
    .hero-text p {
        font-size: 0.65rem;
    }
    .dashboard-card h3,
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
    }
    .dashboard-card p,
    .menu-cards.report-style .card p,
    .card p {
        font-size: 0.6rem;
    }
    .button,
    .button.small,
    .reserve-button {
        font-size: 0.7rem;
        padding: 8px 16px;
        max-width: 220px;
    }
    .card p {
        display: block;
        width: 100%;
    }
    main {
        padding-top: 30px;
    }
}

@media (max-width: 1200px) {
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
    }
    .menu-cards.report-style .card canvas {
        font-size: 0.6rem !important;
    }
    .hero-text h1 {
        font-size: 2.2rem;
    }
    .hero-text p {
        font-size: 1rem;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    main {
        padding-top: 30px;
    }
}

@media (max-width: 768px)  {
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-text h1 {
        font-size: 1.8rem;
    }
    .hero-text p {
        font-size: 0.9rem;
    }
    .card p {
        display: block;
        width: 100%;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    main {
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .menu-cards.report-style {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .menu-cards.report-style .card {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-text h1 {
        font-size: 1.5rem;
    }
    .hero-text p {
        font-size: 0.8rem;
    }
    .card p {
        display: block;
        width: 100%;
    }
    .menu-cards.report-style .card h3 {
        font-size: 0.9rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    main {
        padding-top: 30px;
    }
}