@{
    ViewData["Title"] = "Access Denied";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth/accessdenied.css" />
}


<div class="access-denied-container">
    <h2 class="access-title">Access Denied</h2>
    <p class="access-message">You do not have permission to view this page.</p>
    <a href="/Auth/Login" class="back-login-button">Return to Login</a>
</div>

